<section class="section" id="section1">
  <!--Encabezado de pagina y titulo de ndex-->
  <div class="texto-encabezado text-center">
    <div class="container">
      <!--Efectos wow para el diseño estetico-->
      <h1 class="display-4 wow bounceIn">Diseño de APPS para empresas</h1>
      <p class="wow bounceIn" data-wow-delay=".3s">
        Creamos aplicaciones según las necesidades y requerimientos de nuestros
        clientes.
      </p>
      <a routerLink="/contacto" class="btn btn-primary btn-lg"
        >Ponte en contacto</a
      >
    </div>
  </div>
  <!--Flecha bajar a la sección de agencia-->
  <div class="flecha-bajar text-center">
    <a data-scroll href="#agencia"
      ><i class="fa fa-angle-down" aria-hidden="true"></i
    ></a>
  </div>
</section>

<!--Sección de agencia-->
<section class="agencia py-1" id="agencia">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-xl-9 wow bounceIn" data-wow-delay=".3s">
        <h2 class="h3 text-center text-md-left font-weight-bold">
          Agencia de programación de aplicaciones
        </h2>
        <p>
          NETWORK te asesora en el desarrollo y el diseño para que tu Aplicación
          Movil salga a la luz. Ponemos a tu disposición las mejores plataformas
          del mundo de las telecomunicaciones.
        </p>
        <p>
          Ponemos a tu alcance un servicio adaptado a tus necesidades, desde una
          consultoría integral con supervisión de todos y cada uno de los pasos
          que has de seguir para crear un negocio actual (comunicación, diseño
          corporativo, tecnologías...) a productos adaptados a metodologías
          ágiles de creación de apps diseñadas por nosotros y avaladas por
          nuestros años de experiencia.
        </p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 wow bounceIn" data-wow-delay=".6s">
        <img src="assets/images/agencia.svg" alt="La agencia" />
      </div>
    </div>
  </div>
</section>

<!-- Servicios -->
<section class="servicios py-1">
  <div class="container text-center">
    <h2>Nuestros servicios</h2>

    <div class="row">
      <div class="col-md-4 mb-4">
        <div
          routerLink="/servicios"
          class="card text-center"
          style="cursor: pointer"
        >
          <div class="card-body">
            <i class="fas fa-book fa-3x"></i
            ><!-- Icono representativo -->
            <h5 class="card-title">Auditaria</h5>
            <p class="card-text">
              Brindamos orientación especializada en soluciones eléctricas para
              optimizar la eficiencia y seguridad de tu empresa.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div
          routerLink="/servicios"
          class="card text-center"
          style="cursor: pointer"
        >
          <div class="card-body">
            <i class="fas fa-chart-bar fa-3x"></i
            ><!-- Icono representativo -->
            <h5 class="card-title">Consultoría estrategica</h5>
            <p class="card-text">
              Ofrecemos conocimientos expertos en la planificación y diseño de
              sistemas eléctricos para empresas.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div
          routerLink="/servicios"
          class="card text-center"
          style="cursor: pointer"
        >
          <div class="card-body">
            <i class="fas fa-cogs fa-3x"></i
            ><!-- Icono representativo -->
            <h5 class="card-title">Puesta en marcha</h5>
            <p class="card-text">
              Implementamos soluciones eléctricas y tecnológicas para que tus
              operaciones funcionen sin problemas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="section2">
  <h1>Contacto</h1>
</section>
